{% extends 'base.html' %}

{% block title %}Klienci{% endblock %}

{% block content %}
<div id="clientFormAdd" class="classblock">
    <h3>Przydziel nowego klienta do użytkownika</h3>
    
    <form id="attachClientForm" class="classform">
        <label for="user">Użytkownik:</label>
        <select id="userSelect" class="selectclass">
            <option value="">Wybierz użytkownika</option>
            {% for user in users %}
            <option value="{{ user.USER_ID }}">{{ user.NAME }} {{ user.SURNAME }}</option>
            {% endfor %}
        </select>
        <label for="preffered_location">Preferowana lokalizacja:</label>
        <input type="text" id="attach_preffered_location" name="preffered_location"><br>
        <label for="budget">Budżet:</label>
        <input type="number" id="attach_budget" name="budget"><br>
        <button type="submit">Dodaj klienta</button>
    </form>
</div>

<div id="userFormAdd" class="classblock">
    <h3>Dodaj nowego klienta</h3>
    <form id="addUserForm" class="classform">
        <label for="name">Imię:</label>
        <input type="text" id="add_name" name="name"><br>
        <label for="surname">Nazwisko:</label>
        <input type="text" id="add_surname" name="surname"><br>
        <label for="email">Email:</label>
        <input type="email" id="add_email" name="email"><br>
        <label for="password">Hasło:</label>
        <input type="password" id="add_password" name="password"><br>
        <label for="address">Adres:</label>
        <input type="text" id="add_address" name="address"><br>
        <label for="budget">Budżet:</label>
        <input type="number" id="add_budget" name="budget"><br>
        <label for="preffered_location">Preferowana lokalizacja:</label>
        <input type="text" id="add_preffered_location" name="preffered_location"><br>
        <button id="addClient" type="submit">Dodaj użytkownika</button>
    </form>
</div>

<div id="clientList" class="classblock">
    <h2>Wybierz klienta</h2>
    <p>Lista dostępnych klientów:</p>
    <select id="clientSelect" class="selectclass">
        <option value="">Wybierz klienta</option>
        {% for client in clients %}
        <option value="{{ client.USER_ID }}">{{ client.NAME }} {{ client.SURNAME }} "{{client.PREFFERED_LOCATION}}"</option>
        {% endfor %}
    </select>
</div>

<div id="clientFormEdit" class="classblock" style="display: none;">
    <h3>Edytuj klienta</h3>
    <form id="editClientForm" class="classform">
        <label for="name">Imię:</label>
        <input type="text" id="edit_name" name="name"><br>
        <label for="surname">Nazwisko:</label>
        <input type="text" id="edit_surname" name="surname"><br>
        <label for="email">Email:</label>
        <input type="email" id="edit_email" name="email"><br>
        <label for="password">Hasło:</label>
        <input type="password" id="edit_password" name="password"><br>
        <label for="address">Adres:</label>
        <input type="text" id="edit_address" name="address"><br>
        <label for="budget">Budżet:</label>
        <input type="number" id="edit_budget" name="budget"><br>
        <label for="preffered_location">Preferowana lokalizacja:</label>
        <input type="text" id="edit_preffered_location" name="preffered_location"><br>
        <button type="submit" id="updateClient">Edytuj klienta</button>
    </form>
    <button id="disconnectClient" class="deletebutton" >Odłącz klienta</button>
</div>

<div id="clientPhoneNumbers" class="classblock" style="display: none;">
    <h3>Edytuj numery telefonów</h3>
    <div id="clientPhoneNumbersList" class="classblock">
        <h4>Telefony</h4>
        <ul>
        </ul>
    </div>
    <div id="clientPhoneNumberForm" class="classblock">
        <h4>Dodaj numer telefonu</h4>
        <form id="addPhoneNumberForm" class="classform">
            <label for="phone">Numer telefonu:</label>
            <input type="text" id="add_phone" name="phone"><br>
            <button type="submit">Dodaj numer telefonu</button>
        </form>
    </div>
</div>

<div id="additionalClientInfo" class="classblock" style="display: none;">
    <h3>Dodatkowe informacje</h3>
    <div id="clientSales" class="classblock">
        <h4>Historia kupn</h4>
        <ul>
        </ul>
    </div>
    <div id="clientMettings" class="classblock">
        <h4>Historia spotkań</h4>
        <ul>
        </ul>
    </div>
    <div id="clientRents" class="classblock">
        <h4>Historia Wynajmów</h4>
        <ul>
        </ul>
    </div>
</div>


<script src="/static/client.js"></script>
{% endblock %}




    