{% extends 'base.html' %}

{% block title %}Spotkania{% endblock %}

{% block content %}

<h1 class="titlename">Spotkania</h1>

<div id="meetingFormAdd" class="classblock">
    <h3> Dodaj Spotkanie z Klientem</h3>
    <form id="addMettingForm" class="classform">
        <label for="client">Klient:</label>
        <select id="clientSelect" class="selectclass">
            <option value="">Wybierz klienta</option>
            {% for client in clients %}
            <option value="{{ client.USER_ID }}">{{ client.NAME }} {{ client.SURNAME }}</option>
            {% endfor %}
        </select>
        <label for="property">Nieruchomość:</label>
        <select id="propertySelect" class="selectclass">
            <option value="">Wybierz nieruchomość</option>
            {% for property in properties %}
            <option value="{{ property.PROPERTY_ID }}">{{ property.CITY }} {{ property.ADDRESS }} {{ property.POSTAL_CODE }}</option>
            {% endfor %}
        </select>
        <label for="agent">Agent:</label>
        <select id="agentSelect" class="selectclass">
            <option value="">Wybierz agenta</option>
            {% for agent in agents %}
            <option value="{{ agent.USER_ID }}">{{ agent.NAME }} {{ agent.SURNAME }}</option>
            {% endfor %}
        </select>
        <label for="date">Data:</label>
        <input type="date" id="add_date" name="date"><br>
        <label for="time">Czas:</label>
        <input type="time" id="add_time" name="time"><br>
        <label for="status">Status:</label>
        <select id="statusSelect" class="selectclass">
            <option value="Scheduled">Scheduled</option>
            <option value="Completed">Completed</option>
            <option value="Cancelled">Cancelled</option>
            <option value="ReScheduled">ReScheduled</option>
        </select>
        <button id="addMeeting" type="submit">Dodaj spotkanie</button>
    </form>
</div>
<div id="meetingList" class="classblock">
    <h3> Edytuj wybrane spotkanie</h3>
    <select id="meetingSelect" class="selectclass">
        <option value="">Wybierz spotkanie</option>
        {% for meeting in meetings %}
        <option value="{{ meeting.MEETING_ID }}">{{meeting.CITY}} {{meeting.ADDRESS}} {{meeting.AGENT_SURNAME}} --> {{meeting.CLIENT_SURNAME}} {{ meeting.DATE_MEETING }} {{ meeting.TIME_MEETING }}</option>
        {% endfor %}
    </select>


<div id="meetingFormEdit" class="classblock" style="display: none;">
    <h3> Edytuj Spotkanie z Klientem</h3>
    <form id="editMeetingForm" class="classform">
        <label for="client">Klient:</label>
        <select id="clientSelectEdit" class="selectclass">
            <option value="">Wybierz klienta</option>
            {% for client in clients %}
            <option value="{{ client.USER_ID }}">{{ client.NAME }} {{ client.SURNAME }}</option>
            {% endfor %}
        </select>
        <label for="property">Nieruchomość:</label>
        <select id="propertySelectEdit" class="selectclass">
            <option value="">Wybierz nieruchomość</option>
            {% for property in properties %}
            <option value="{{ property.PROPERTY_ID }}">{{ property.CITY }} {{ property.ADDRESS }} {{ property.POSTAL_CODE }}</option>
            {% endfor %}
        </select>
        <label for="agent">Agent:</label>
        <select id="agentSelectEdit" class="selectclass">
            <option value="">Wybierz agenta</option>
            {% for agent in agents %}
            <option value="{{ agent.USER_ID }}">{{ agent.NAME }} {{ agent.SURNAME }}</option>
            {% endfor %}
        </select>
        <label for="date">Data:</label>
        <input type="date" id="edit_date" name="date"><br>
        <label for="time">Czas:</label>
        <input type="time" id="edit_time" name="time"><br>
        <label for="status">Status:</label>
        <select id="statusSelectEdit" class="selectclass">
            <option value="Scheduled">Scheduled</option>
            <option value="Completed">Completed</option>
            <option value="Cancelled">Cancelled</option>
            <option value="ReScheduled">ReScheduled</option>
        </select>
        <button id="editMeeting" type="submit">Edytuj spotkanie</button>
    </form>
    <button id="deleteMetting" class="deletebutton">Usuń Spotkanie</button>
</div>
<script src="/static/meeting.js"></script>  


{% endblock %}