{% extends 'base.html' %}

{% block title %}Nieruchomości{% endblock %}

{% block content %}
<div id="propertyFormAdd" class="classblock">
    <h3>Dodaj nową nieruchomość</h3>
    <form id="addPropertyForm" class="classform">
        <label for="address">Adres:</label>
        <input type="text" id="add_address" name="address"><br>
        <label for="city">Miasto:</label>
        <input type="text" id="add_city" name="city"><br>
        <label for="state">Stan:</label>
        <input type="text" id="add_state" name="state"><br>
        <label for="postal_code">Kod pocztowy:</label>
        <input type="text" id="add_postal_code" name="postal_code"><br>
        <label for="size">Rozmiar:</label>
        <input type="number" id="add_size" name="size"><br>
        <label for="bedrooms">Sypialnie:</label>
        <input type="number" id="add_bedrooms" name="bedrooms"><br>
        <label for="bathrooms">Łazienki:</label>
        <input type="number" id="add_bathrooms" name="bathrooms"><br>
        <label for="price">Cena:</label>
        <input type="number" id="add_price" name="price"><br>
        <label for="type">Typ:</label>
        <select id="add_type" name="type" class="selectclass">
            <option value="House">House</option>
            <option value="Apartment">Apartment</option>
            <option value="Flat">Flat</option>
            <option value="Condo">Condo</option>
            <option value="Townhouse">Townhouse</option>
            <option value="Duplex">Duplex</option>
            <option value="Triplex">Triplex</option>
            <option value="Fourplex">Fourplex</option>
            <option value="Villa">Villa</option>
            <option value="Cottage">Cottage</option>
            <option value="Bungalow">Bungalow</option>
            <option value="Mobile Home">Mobile Home</option>
            <option value="Other">Other</option>
        </select><br>
        <label for="description">Opis:</label>
        <textarea id="add_description" name="description"></textarea><br>
        <button type="submit" class="submitbutton">Dodaj nieruchomość</button>
    </form>
</div>



<div id="propertyList" class="classblock">
    <h2>Edytuj wybraną nieruchomość</h2>
    <p>Lista dostępnych nieruchomości:</p>
    <select id="propertySelect" class="selectclass">
        <option value="">Wybierz nieruchomość</option>
        {% for property in properties %}
        <option value="{{ property.PROPERTY_ID }}">{{ property.STATE }} {{ property.CITY }} {{ property.ADDRESS }}</option>
        {% endfor %}
    </select>
</div>

<div id="propertyFormEdit" style="display: none;" class="classblock">
    <h3>Edytuj nieruchomość</h3>
    <form id="editPropertyForm" class="classform">
        <label for="address">Adres:</label>
        <input type="text" id="address" name="address"><br>
        <label for="city">Miasto:</label>
        <input type="text" id="city" name="city"><br>
        <label for="state">Stan:</label>
        <input type="text" id="state" name="state"><br>
        <label for="postal_code">Kod pocztowy:</label>
        <input type="text" id="postal_code" name="postal_code"><br>
        <label for="size">Rozmiar:</label>
        <input type="number" id="size" name="size"><br>
        <label for="bedrooms">Sypialnie:</label>
        <input type="number" id="bedrooms" name="bedrooms"><br>
        <label for="bathrooms">Łazienki:</label>
        <input type="number" id="bathrooms" name="bathrooms"><br>
        <label for="price">Cena:</label>
        <input type="number" id="price" name="price"><br>
        <label for="type">Typ:</label>
        <select id="type" name="type" class="selectclass">
            <option value="House">House</option>
            <option value="Apartment">Apartment</option>
            <option value="Flat">Flat</option>
            <option value="Condo">Condo</option>
            <option value="Townhouse">Townhouse</option>
            <option value="Duplex">Duplex</option>
            <option value="Triplex">Triplex</option>
            <option value="Fourplex">Fourplex</option>
            <option value="Villa">Villa</option>
            <option value="Cottage">Cottage</option>
            <option value="Bungalow">Bungalow</option>
            <option value="Mobile Home">Mobile Home</option>
            <option value="Other">Other</option>
        </select><br>
        <label for="description">Opis:</label>
        <textarea id="description" name="description"></textarea><br>
        <button type="submit">Zapisz zmiany</button>
    </form>
    <button id="deleteProperty" class="deletebutton">Usuń nieruchomość</button>
</div>

<script src="/static/property.js"></script>
{% endblock %}

