{% extends 'base.html' %}
{% block title %}Wynajmy{% endblock %}
{% block content %}
<div id="rentsFormAdd" class="classblock">
    <h3> Dodaj Wynajem</h3>
    <form class="classform" id="addRentsForm">
        <label for="client">Klient:</label>
        <select class="selectclass" id="clientSelect">
            <option value="">Wybierz klienta</option>
            {% for client in clients %}
            <option value="{{ client.USER_ID }}">{{ client.NAME }} {{ client.SURNAME }}</option>
            {% endfor %}
        </select>
        <label for="property">Nieruchomość:</label>
        <select class="selectclass" id="propertySelect">
            <option value="">Wybierz nieruchomość</option>
            {% for property in properties %}
            <option value="{{ property.PROPERTY_ID }}">{{ property.CITY }} {{ property.ADDRESS }} {{ property.POSTAL_CODE }}</option>
            {% endfor %}
        </select>
        <label for="start_date">Data rozpoczęcia:</label>
        <input type="date" name="start_date" id="add_start_date"><br>
        <label for="end_date">Data zakończenia:</label>
        <input type="date" name="end_date" id="add_end_date"><br>
        <label for="deposit">Kaucja:</label>
        <input type="number" name="deposit" id="add_deposit" step="1000"><br>
        <label for="price">Cena:</label>
        <input type="number" name="price" id="add_price" step="1000"><br>
        <label for="status">Status:</label>
        <select class="selectclass" id="statusSelect">
            <option value="Pending">Pending</option>
            <option value="Ended">Ended</option>
            <option value="Active">Active</option>
        </select>
        <button type="submit" id="addRents">Dodaj wynajem</button>
    </form>
</div>
<div id="rentsList" class="classblock">
    <h3> Wybierz wynajem</h3>
    <select class="selectclass" id="rentsSelect">
        <option value="">Wybierz wynajem</option>
        {% for rent in rents %}
        <option value="{{ rent.RENT_ID }}">{{rent.CITY}} {{rent.ADDRESS}} {{rent.CLIENT_SURNAME}} {{ rent.START_DATE }}:{{ rent.END_DATE }}</option>
        {% endfor %}
    </select>
</div>

<div id="rentsFormEdit" class="classblock" style="display: none;">
    <h3> Edytuj Wynajem</h3>
    <form class="classform" id="editRentsForm">
        <label for="client">Klient:</label>
        <select class="selectclass" id="clientSelectEdit">
            <option value="">Wybierz klienta</option>
            {% for client in clients %}
            <option value="{{ client.USER_ID }}">{{ client.NAME }} {{ client.SURNAME }}</option>
            {% endfor %}
        </select>
        <label for="property">Nieruchomość:</label>
        <select class="selectclass" id="propertySelectEdit">
            <option value="">Wybierz nieruchomość</option>
            {% for property in all_properties %}
            <option value="{{ property.PROPERTY_ID }}">{{ property.CITY }} {{ property.ADDRESS }} {{ property.POSTAL_CODE }}</option>
            {% endfor %}
        </select>
        <label for="start_date">Data rozpoczęcia:</label>
        <input type="date" name="start_date" id="edit_start_date"><br>
        <label for="end_date">Data zakończenia:</label>
        <input type="date" name="end_date" id="edit_end_date"><br>
        <label for="deposit">Kaucja:</label>
        <input type="number" name="deposit" id="edit_deposit" step="1000"><br>
        <label for="price">Cena:</label>
        <input type="number" name="price" id="edit_price" step="1000"><br>
        <label for="status">Status:</label>
        <select class="selectclass" id="statusSelectEdit">
            <option value="Pending">Pending</option>
            <option value="Ended">Ended</option>
            <option value="Active">Active</option>
        </select>
        <button type="submit" id="editRents">Edytuj wynajem</button>
    </form>
    <button id="deleteRents" class="deletebutton">Usuń wynajem</button>
</div>
<div id="addictionalRentsInfo" class="classblock" style="display: none;">
    <h3> Dodatkowe informacje o wynajmie</h3>
    <div id="paymentList" class="classblock">
        <ul id="paymentList">
        </ul>
    </div>
</div>    


<script>
    document.getElementById("rentsSelect").addEventListener("change", function(event){
        var rent = document.getElementById("rentsSelect").value;
        if (rent === ""){
            document.getElementById("rentsFormEdit").style.display = "none";
            console.log("No rent selected");
            return;
        }
        fetch(`/agency/rent/${rent}`, {
            method: "GET"
        }).then(response => response.json())
        .then(data => {
            console.log(data);
            data = data[0];
            document.getElementById("edit_start_date").value = data.START_DATE;
            document.getElementById("edit_end_date").value = data.END_DATE;
            document.getElementById("edit_deposit").value = data.DEPOSIT;
            document.getElementById("clientSelectEdit").value = data.CLIENT_ID;
            document.getElementById("propertySelectEdit").value = data.PROPERTY_ID;
            document.getElementById("statusSelectEdit").value = data.STATUS;
            document.getElementById("edit_price").value = data.PRICE;
            document.getElementById("rentsFormEdit").style.display = "block";
        });
    });
    
    document.getElementById("editRents").addEventListener("click", function(event){
        event.preventDefault();
        var rent = document.getElementById("rentsSelect").value;
        var startDate = document.getElementById("edit_start_date").value;
        var endDate = document.getElementById("edit_end_date").value;
        var deposit = document.getElementById("edit_deposit").value;
        var client = document.getElementById("clientSelectEdit").value;
        var property = document.getElementById("propertySelectEdit").value;
        var status = document.getElementById("statusSelectEdit").value;
        var price = document.getElementById("edit_price").value;
        
        var queryParams = new URLSearchParams({
            start_date: startDate,
            end_date: endDate,
            deposit: deposit,
            client_id: client,
            property_id: property,
            status: status,
            price: price
        });
        fetch(`/agency/rent/${rent}?${queryParams}`, {
            method: "PUT"
        }).then(response => response.json())
        .then(data => {
            console.log(data);
            if(data.message === "Rent updated"){
                alert("Zaktualizowano dane wynajmu");
                location.reload();
            } else {
                alert("Nie udało się zaktualizować danych wynajmu " + data.detail);
            }
        });
    });
    
    document.getElementById("addRents").addEventListener("click", function(event){
        event.preventDefault();
        var startDate = document.getElementById("add_start_date").value;
        var endDate = document.getElementById("add_end_date").value;
        var deposit = document.getElementById("add_deposit").value;
        var client = document.getElementById("clientSelect").value;
        var property = document.getElementById("propertySelect").value;
        var status = document.getElementById("statusSelect").value;
        var price = document.getElementById("add_price").value;
        
        var queryParams = new URLSearchParams({
            start_date: startDate,
            end_date: endDate,
            price: price,
            deposit: deposit,
            client_id: client,
            property_id: property,
            status: status
            
        });
        fetch(`/agency/rent?${queryParams}`, {
            method: "POST"
        }).then(response => response.json())
        .then(data => {
            console.log(data);
            if(data.message === "Rent inserted successfully"){
                alert("Dodano nowy wynajem");
                location.reload();
            } else {
                alert("Nie udało się dodać nowego wynajmu " + data.detail);
            }
        });
    });
    
    document.getElementById("deleteRents").addEventListener("click", function(event){
        event.preventDefault();
        var rent = document.getElementById("rentsSelect").value;
        if (rent === ""){
            alert("Wybierz wynajem");
            return;
        }
        fetch(`/agency/rent/${rent}`, {
            method: "DELETE"
        }).then(response => response.json())
        .then(data => {
            console.log(data);
            if(data.message == "Rent deleted successfully"){
                alert("Usunięto wynajem");
                location.reload();
            } else {
                alert("Nie udało się usunąć wynajmu " + data.detail);
            }
        });
    });

</script>
{% endblock %}



